<%#  Conversation format %>
<div>
  Chatting with   
  <%= render 'author', user: conversation.with(current_user) %>
  <br>
  <em><%= conversation.personal_messages.last.body.truncate(50) %></em>
  <div>
    <%= conversation.created_at %>
  </div>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation) %>
  <hr>
</div>
