<div class="container">
  <div class="message">
    <div class="row"> 
      <% if user.id != current_user.id%> 
         <%= render 'conversations/author', user: user %>
      <% end %> 
    </div>
  </div>
</div>
