<h1><%= full_name %></h1>

<%# you can add all of the user tables here %>

<p><%= @user.email %></p>

<% @user.products.each do |product| %>

  <%= link_to product.name, product_path(product.id) %>

<% end %>
