<div class="container">
	<div class="row">
		<h1> About Market </h1>
	</div>
	<div class="row">
		<div class="field">
			<h3>Introduction</h2>
			<p> The Market is an ever expanding marketplace for ALL goods. It’s home to unusual, extraordinary items, from unique handcrafted pieces to rare products. 
			In a time of increasing automation, it’s our mission to keep human connection at the heart of commerce. That’s why we built a place where creativity lives and thrives because it’s powered by people. We help our community of sellers turn their ideas into successful businesses. Our platform connects them with millions of buyers looking for an alternative — something special with a human touch, for those moments in life that deserve imagination. 
			As a company, we strive to lead with our values and to help spread ideas of sustainability and responsibility whose impact can reach far beyond our own business. </p>
			<h3>Cost to Sign Up</h2>
			<p>The cost for signing up and becoming a seller is free, nothing, a big 0!!!</p>
			<h3>Cost of Selling</h2>
			<p>Every business has to make money somehow, and with us we take a 10% of what you sell it for.</p>
			<h3>Security</h3>
			<p>The Market tries its best to provide the best security to our customers. Using Stripe allows for us to prodtect sensitive information. Not only do we use Stripe but companies such as: Target, Under Armour, Deliveroo and Digital Ocean just to name a few!</p>
		</div>
	</div>
</div>