
<div class="container">	
<h1> Information Page </h1>
    <div class="row">   
            <div class="field">
                <h3>Changing Your Password</h3>
                <p>Whether you've simply forgotten your password or need to change it for security reasons, it's easy to change your Market password. Simply go to View Profile and scroll to the bottom where you can edit your profile.</p>
                <h3>Editing Your Details</h3>
                <p>Navigate your way to your profile by simply go to View Profile and scroll to the bottom where you can edit your profile.</p>
                <h3>Rules and Policies </h3>
                <p>By becoming familiar with and following our policies, you'll help us maintain a safe environment for all, and be able to avoid any interruption to your use of the site that might come from inadvertently violating any of our rules. Some of our rules reflect local legal requirements, while others have been put in place based on our experience of how best to protect everyone using our site. In our policy section, you'll find information on items that can and can't be sold, guides to creating and maintaining listings, details on how we protect your personal details and more.You can also find our user agreement, privacy notice, and cookie notice. These lay out the most critical information around our terms of use, the information we collect from you, and how we keep that information safe.</p>
            </div>	
    </div>
</div>