<div>
  <strong> Message: </strong>
</div>
<p><%= personal_message.body %></p>
<p>
  by 
  <%= render 'author', user: personal_message.user  %>
  at <strong><%= personal_message.created_at %></strong>
</p>
<hr>
