/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
 
//Color
$primary_color:#D7562C; 
$secondary_color: #EFB33F;
$tertiary_color:#373F5A;
$fourth_color:#92C8D2;
$fifth_color:#F5F9F8;

//Bootstrap font-face
@font-face {
      font-family: 'Glyphicons Halflings';
      src: url('/assets/fonts/glyphicons-halflings-regular.eot');
      src: url('/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
   }
//Fonts
//@import url('https://fonts.googleapis.com/css?family=Monoton|Muli|Source+Serif+Pro');
/*font-family: 'Source Serif Pro', serif;
font-family: 'Monoton', cursive;
font-family: 'Muli', sans-serif;*/

.banner {
      h1{
            font-family: 'Monoton', cursive;
            text-align: center;  
      }
      p{
            font-family: 'Source Serif Pro', serif;
            font-size: 1.5rem;
            text-align: justify;
      }
}