/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require font-awesome
 */
 
/*====================================================
  ||||| Color|||||
====================================================*/
$primary_color:#D7562C; 
$secondary_color: #EFB33F;
$tertiary_color:#373F5A;
$fourth_color:#92C8D2;
$fifth_color:#F5F9F8;
/*====================================================
  |||||Bootstrap font-face|||||
====================================================*/
@font-face {
      font-family: 'Glyphicons Halflings';
      src: url('/assets/fonts/glyphicons-halflings-regular.eot');
      src: url('/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
   }
/*====================================================
  |||||Fonts used|||||
====================================================*/
/*font-family: 'Source Serif Pro', serif;
font-family: 'Monoton', cursive;
font-family: 'Muli', sans-serif;
/*====================================================
  |||||Styling|||||
====================================================*/

.navbar{
      background: $tertiary_color;
      width: 100%;
      a{
            text-decoration: none;
      }
}
.navbar-text{
      #search{
            width: 100px;
            height: 20px;
      }
}

.navbar-brand {
      color: $primary_color;
      font-family: 'Monoton', cursive;
      font-size: 3rem;
      position: relative;
      text-align: center;
      
}

.banner {
      
      .bannerimage{
            // background: asset-data-url("banner/mainbanner.jpg");
             width: 100%;
            height: auto;
            margin: 20px 0px;
      }
      h1{
            font-family: 'Monoton', cursive;
            text-align: center;  
      }
      h2{
            font-family: 'Source Serif Pro', serif;
            text-align: center;
      }
}
.footer{
      text-align: center;
      color: $fifth_color;
      background: $tertiary_color;
      a{
            text-decoration: none;
      }
      p{
            font-family: 'Source Serif Pro', serif;
            font-size: 1rem;
      }
}
/*====================================================
  |||||Media Queries|||||
====================================================*/
  @media (max-width: 1024px) {
     
  }
  @media(max-width:568px){
 
    }
  @media(min-width:768px){
          
   }
    @media(min-width:382px){
   
    }