/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require font-awesome
 */
 
/*====================================================
  ||||| Color|||||
====================================================*/
$primary_color:#D7562C; 
$secondary_color: #EFB33F;
$tertiary_color:#373F5A;
$fourth_color:#92C8D2;
$fifth_color:#F5F9F8;
/*====================================================
  |||||Bootstrap font-face|||||
====================================================*/
@font-face {
      font-family: 'Glyphicons Halflings';
      src: url('/assets/fonts/glyphicons-halflings-regular.eot');
      src: url('/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
   }
/*====================================================
  |||||Fonts used|||||
====================================================*/
/*font-family: 'Source Serif Pro', serif;
font-family: 'Monoton', cursive;
font-family: 'Muli', sans-serif;
/*====================================================
  |||||Styling|||||
====================================================*/
/*====================================================
  |||||Header|||||
====================================================*/
.navbar{
      background:$tertiary_color;
      width: 100%;
      a{
            text-decoration: none;
      }
}
.navbar-text{
      color:$primary_color;
      #search{
            width: 100px;
            height: 20px;
      }
}
.navbar-header{
      color: $primary_color;
      .navbar-brand {
                  color: $primary_color;
                  font-family: 'Monoton', cursive;
                  font-size: 3rem;
                  position: relative;
                  text-align: center;    
                  i{
                        color: $primary_color;
                  }
                  a:hover, i:hover{
                        color: $secondary_color;
                  }         
      }
}

.profile-link{
      color:$primary_color;
}
/*====================================================
  |||||Banner|||||
====================================================*/
.banner {

      .bannerimage{
            // background: asset-data-url("banner/mainbanner.jpg");
             width: 100%;
            height: auto;
            margin: 20px 0px;
            -moz-box-shadow:    3px 3px 5px 6px #ccc;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow:         3px 3px 5px 6px #ccc;
            -webkit-filter: blur(1px); 
            filter: blur(1px);
   
      }
      h1{
            font-family: 'Monoton', cursive;
            color:$primary_color;
            text-align: center; 
            font-size: 8rem; 
      }
      h2{
            font-family: 'Source Serif Pro', serif;
            color: $tertiary_color;
            text-align: center;
      }
}
/*====================================================
  |||||Category|||||
====================================================*/
.category{
      
      h3{
            color:$primary_color;
            font-family: 'Monoton', cursive;
            margin: 15px auto;
            width:30%;
            text-align: center;
            background: $secondary_color;
            border: 2px dashed $fifth_color;
            line-height: 1.3em;
            border-radius: 10px;
            box-shadow: 0 0 0 4px $secondary_color, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
            text-shadow: -1px -1px $secondary_color;
      }       
}

.amount{
      color:$tertiary_color;
}
.outofstock{
      color: red;
      font-style: oblique;
      font-weight: 400;
      font-family: 'Muli', sans-serif;
}
.productname{
      color:$primary_color;
      font-weight: 400;
      font-size: 1.5rem;
      margin-top:5px;
      // text-align: center;
}
.productquantity{
      color:$fourth_color;
}
/*====================================================
  |||||Stripe|||||
====================================================*/
button.stripe-button-el,
button.stripe-button-el>span {
  background-color: $secondary_color !important;
  background-image: none;
}
/*====================================================
  |||||Footer|||||
====================================================*/
.footer{
      margin-top:15px;
      text-align: center;
      color: $fifth_color;
      background: $tertiary_color;
      
      a{
            text-decoration: none;
            color:$primary_color;
      }
      a:hover{
            text-decoration: none;
            color:$secondary_color;
      }
      p{
            font-family: 'Source Serif Pro', serif;
            font-size: 1rem;
            padding: 5px;
      }
}
/*====================================================
  |||||Media Queries|||||
====================================================*/
  @media (max-width: 1024px) {
      .banner{
            h1{
                  font-size:4rem;
            }
            h2{
                  font-size:1.5rem;
            }
      } 
      button.stripe-button-el,
button.stripe-button-el>span{
      margin-bottom:5px;
      }
  }
  @media( max-width:768px){
      .banner{
            h1{
                  font-size:4rem;
            }
            h2{
                  font-size:1.5rem;
            }
      }
      button.stripe-button-el,
button.stripe-button-el>span{
      margin-bottom:5px;
      }
   }
  @media(max-width:568px){
      .banner{
            h1{
                  font-size:2rem;
            }
            h2{
                  font-size:1.2rem;
            }
      }
      .category{
      
            h3{
                 font-size: 2rem;
                 width:80%;
            }       
      }
      button.stripe-button-el,
button.stripe-button-el>span{
      margin-bottom:5px;
      }
    }
    @media(min-width:382px){
     
    }