<div class="container">
   <div class="message">
        <div class="row">
            <h2>Thank you for the payment, <strong> your item will be sent asap.</strong></h2>
            <%= link_to 'Back', root_path, class:"btn btn-success" %>
        </div>
    </div>
</div>