
  <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p> <i class="far fa-copyright"></i> copyright & <i class="fab fa-connectdevelop"></i> developed by: <%= link_to '<i class="fab fa-monero"></i> Market'.html_safe , 'https://market.com.au/' %></p>
      </div>
    </div>
    </div>
  </footer>
